body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,fieldset,h1,h2,h3,h4,h5,h6,img,input{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
a{
	text-decoration:none;
	color: #737373;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
	display: block;
}
button::-moz-focus-inner{
	border: 0;
	padding: 0;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

