@charset "UTF-8";
@import 'common';

/* ------这是商品导购左侧边框----------- */
.list_nav{
  width: 100%;
  height: 40px;
  background: #fe7a24;
  .default{
      width: 1200px;
      padding-right: 0;
      padding-left: 0;
      margin: 0 auto;
      .catenav-r{
        li{
          float: left;
          font-size: 14px;
          height: 40px;
          margin-bottom: -3px;
          &:hover{
              background: #ff8833;
          }
          a{
             display: inline-block;
              line-height: 40px;
              color: #fff;
              padding: 0 24px;
              font-weight: 600;
           }
         }
     }
  .catenav-l{
    position: relative;
    float: left;
    width: 230px;
    height: 37px;
    .dropdown-cate_1{
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 999;
        padding: 10px 15px 0;
        border-bottom: 3px solid #ff6a00;
        font-size: 12px; 
        background: #fff;
        box-shadow: 0 0 2px #e9e9e9;
        display: none;
        }    
    h3{
      font-size: 15px;
      width: 200px;
      line-height: 37px;
      color: #fff;
      background: #ff6a00;
      padding: 0 15px;
      }  
    }
  }
}
  
.site-nav-r .menu:last-child a:hover, .site-nav-r .customer-service .service-list a:hover, .site-nav-r .nav-cart .shopping-outer .shopping-inner a:hover, header .head .search .help-block a:hover, header .head .service a:hover, section .default .catenav-l .dropdown-cate_1 .cate-list li a:hover, .dropdown-cate .cate-cake .right-menu-e .e-img a:hover, .dropdown-cate_1 .cate-cake .right-menu-e .e-hello a:hover, .footer-nav .footer-nav-cont .nav-cont-list li a:hover, .footer-help .help-list .r1 .r1-list li a:hover, .footer-help .help-list .r2 .r2-list li a:hover, .footer-help .help-list .r3 .r1-list li a:hover, footer .lasting p a:hover {
  color: #ff6a00;
  text-decoration: underline;
}

.site-nav ul .menu > a:hover{
  color: #ff6a00;
}

.site-nav ul .menu {
  float: left;
  line-height: 34px;
  position: relative;
}

.site-nav ul .menu-l {
  color: #ffb680;
  width: 1.4em;
  height: 1.4em;
  vertical-align: top;
  margin: 9px 4px 0;
}

.site-nav ul .menu-l-int {
  width: 1.8em;
  height: 1.8em;
  margin: 7px 4px 0;
}

.site-nav ul .menu-l-last {
  width: 1.6em;
  height: 1.6em;
  margin: 8px 4px 0;
}

.site-nav ul .menu > a {
  position: relative;
  padding: 0 8px;
  line-height: 34px;
  color: #737373;
  z-index: 9999;
}

.site-nav ul .dropdown .nav-Img {
  margin: 20px 20px 10px;
}

.site-nav .site-nav-l .dropdown {
  height: 33px;
  border: 1px solid transparent;
  border-bottom: none;
}

.dropdown-cate .cate-cake .right-menu-e {
  position: absolute;
  bottom: -3px;
  z-index: 1;
  margin-left: 229px;
  width: 730px;
  height: 420px;
  font-size: 12px;
  font-weight: normal;
  background: #fff;
  padding: 15px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.175);
}

.dropdown-cate .cate-cake .right-menu-e {
  display: none;
}

.dropdown-cate .cate-cake .right-menu-e b {
  width: 0;
  height: 12px;
  border-right: 2px solid #707070;
  margin-right: 5px;
}

.dropdown-cate .cate-cake .right-menu-e h5 {
  display: inline-block;
  color: #707070;
  margin-bottom: 10px;
}

.dropdown-cate .cate-cake .right-menu-e .e-img {
  overflow: hidden;
  margin-bottom: 30px;
}

.dropdown-cate .cate-cake .right-menu-e .e-img a {
  position: relative;
  z-index: 9;
  display: block;
  float: left;
  width: 96px;
  height: 84px;
  margin-right: -1px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  color: #737373;
}

.dropdown-cate .cate-cake .right-menu-e .e-img a img {
  display: block;
  margin: auto;
}

.dropdown-cate .cate-cake .right-menu-e .e-hello {
  margin-top: 5px;
  margin-bottom: 25px;
}

.dropdown-cate .cate-cake .right-menu-e .e-hello a {
  display: inline-block;
  line-height: 24px;
  color: #737373;
  margin-right: 8px;
}




/* ------n内容栏------ */
.section_cont{
    width: 100%;
    background: #fff;
     &::after{
          content: "";
          display: none;
          clear: both;
          height: 0;
          overflow: hidden;
          visibility: hidden;
     }
    .section_one{
        width: 1200px;
        font-size: 14px;
        margin: 0 auto;
        color: #333;
        padding: 10px 0;
        a{
            &:hover{
                color: #ff6a00;
                text-decoration: underline;
            }
        }
        p{
            display: inline-block;
            color: #737373;
        }
        &::after{
            content: "";
            display: none;
            clear: both;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }
}
      %g{
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 8px;
        border:1px solid #ccc;
      }
.section_two{
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
    .section_two_left{
        width: 210px;
        margin-right: 15px;
        float: left;
    }
    .section_two_l{
        box-sizing: border-box;
        width: 210px;
        height: auto;
        padding: 0 9px;
        font-size: 12px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        .left_one{
            padding: 12px 0;
            border-bottom: 1px solid #ccc;
            position: relative;
            .one_img{
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -30px;
                width: 32px;
                font-size: 14px;
                span{
                    display: inline-block;
                    width: 30px;
                    height: 40px;
                    background: url(../images/common_z.png) -160px -234px;
                }
            }
            .two_bg{
                span{
                    background: url(../images/common_z.png) -120px -234px;
                }
            }
            .three_bg{
                span{
                    background: url(../images/common_z.png) 0px -234px;
                }
            }
            .four_bg{
                span{
                    background: url(../images/common_z.png) -80px -234px;
                }
            }
            .five_bg{
                span{
                    background: url(../images/common_z.png) -40px -234p;
                }
            }
            .six_bg{
                span{
                    background: url(../images/common_z.png) -200px -184px;
                }
            }

            .three_color{
        
                .span1{
                    @extend %g;
                    background: red;
                }
                .span2{
                    @extend %g;
                    background: pink;
                }
                .span3{
                    @extend %g;
                    background: #fcc280;
                }
                .span4{
                    @extend %g;
                    background: yellow;
                }
                .span5{
                    @extend %g;
                    background: #fff;
                }
                .span6{
                    @extend %g;
                    background: #d37bfc;
                }
                .span7{
                    @extend %g;
                    background: #5b37f7;
                }

            }
        }
        .left_last{
            border-bottom: none;
        }
        .left_one_list{
            margin-left: 50px;
            overflow: hidden;
            li{
                float: left;
                width: 50%;
                line-height: 22px;
                a{
                    &:hover{
                        color: #ff6a00;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .left_two{
        box-sizing: border-box;
        border: 1px solid #ccc;
        width: 210px;
        margin-bottom: 20px;
        .two_hd{
            padding: 8px 0;
            background: #ffe8d9;
            border-bottom: #ebebeb;
            h3{
                font-size: 14px;
                color: #737373;
                text-align: center;
            }
        }
        .two_cont{
            padding: 10px 9px;
        }
    }
    .left_three{
        .sent_cont{
            padding: 10px 0;
            overflow: hidden;
            .sent_img{
                display: inline-block;
                border: 1px solid #ccc;
                float: left;
                img{
                    width: 50px;
                    height: 56px;
                }
            }
            .sent_right{
                font-size: 12px;
                color: #737373;
                float: left;
                margin-left: 10px;
                h5{
                    font-weight: normal;
                    padding: 4px 0 8px;
                }
                a{
                    &:hover{
                        color: #ff6a00;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .section_two_right{
        width: 970px;
        float: left;
        .right_hd_img{
            margin-bottom: 15px;
            width: 100%;
            overflow: hidden;
        }
        .right_nav{
            box-sizing: border-box;
            width: 100%;
            height: 32px;
            padding: 0 10px;
            margin-bottom: 20px;
            font-size: 14px;
            color: #737373;
            background: #ebebeb;
            overflow: hidden;
            ul{
                float: left;
                .padd{
                    display: inline-block;
                    padding: 0 5px;
                    margin: 0 8px;
                    line-height: 32px;
                    &:hover{
                        color: #ff6a00;
                        em{
                            border-top-color: #ff6a00;
                        }
                    }

                    em{
                        display: inline-block;
                        width: 0;
                        height: 0;
                        font-size: 0;
                        overflow: hidden;
                        border: 6px solid transparent;
                        border-top-color: #999;
                        vertical-align: middle;
                        margin-top: 6px;
                        margin-left: 4px;
                    }
                    a{
                        display: inline-block;
                        padding-left: 10px; 
                        &:hover{
                            color: #ff6a00;
                        }
                    }
                    .r_color{
                        color: #ff6a00;
                    }
                }
            }
            .right_nav_r{
                float: right;
                margin: 4px 0;
                .nav_r_num{
                    box-sizing: border-box;
                    line-height: 22px;
                    color: #999;
                    border: 1px solid #ccc;
                    padding: 0 20px;
                    background: #fff;
                    &:last-child{
                        margin-left: -2px;
                    }
                }
                li{
                    display: inline-block;
                    span{
                      color: #ff6a00;
                      font-weight: 600;
                    }
                }
                .tatle_page{
                    margin-right: 10px;
                }
            }
        }
        .right_gift{
            width: 100%;
            background: #fff;
            overflow: hidden;
            .gift{
                float: left;
                width: 25%;
                box-sizing: border-box;
                border: 1px solid transparent;
                padding: 10px;
                margin-bottom: 20px;
                &:hover{
                    border-color: #ccc;
                }
                img{
                    width: 220px;
                    height: 240px;
                }
                .beauty{
                    margin-bottom: 10px;
                }
                a{
                    display: inline-block;
                }
                .price{
                    margin-bottom: 8px;
                    span{
                        font-family: arial;
                        font-size: 14px;
                        font-weight: 800;
                        color: #ff6a00;
                    }
                    .price_sign{
                        margin-right: -4px;
                    }
                }
                .letter{
                    font-size: 12px;
                    line-height: 18px;
                    height: 36px;
                    margin-bottom: 10px;
                    a{
                        &:hover{
                            color: #ff6a00;
                            text-decoration: underline;
                        }
                    }
                }
                .coll_cart{
                    a{
                        display: inline-block;
                        border: 1px solid #ccc;
                        padding: 4px 0;
                        width: 107px;
                        color: #000;
                        font-size: 12px;
                        text-align: center;
                        span{
                          display: inline-block;
                          width: 16px;
                          height: 16px;
                          margin-right: 10px;
                          vertical-align: middle;
                          margin-top: -1px;
                       }
                       .coll{
                          background: url(../images/ico_heart_d.png) no-repeat left top;
                       }
                       .cart{
                          background: url(../images/ico_cart_d.png) no-repeat left top;
                       }
                    }
                    .coll_letter_color{
                        color: #888;
                        margin-right: -1px;
                        &:hover{
                            background-color: #fff3eb;
                            color: #ff6a00;
                            .coll{
                                background: url(../images/ico_heart_d.png) no-repeat left bottom;
                            }
                            .cart{
                                background: url(../images//ico_cart_d.png) no-repeat left bottom;
                            }
                        }
                    }
                    .cart_bg{
                        &:hover{
                            background-color: #fff3eb;
                            color: #ff6a00;
                            .cart{
                                background: url(../images/ico_cart_d.png) no-repeat left bottom;
                            } 
                        }
                    }
                }
            }
        }
        .right_footer{
            margin: 30px 0 40px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 4px 0;
            overflow: hidden;
            p{
                float: left;
                font-size: 12px;
                color: #888;
                height: 34px;
                line-height: 34px;
                margin: 20px 0;
            }

        }
    }
}

#page_navigation a{
    padding:3px;
    border:1px solid gray;
    margin:2px;
    color:black;
    text-decoration:none
}
.active_page{
    background:darkblue;
    color:white !important;
}
/* ----帮助列表---- */
.kownledge{
    width: 1200px;
    height: 228px;
    margin: 0 auto;
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    p{
        padding: 14px 20px;
        font-size: 14px;
        color: #737373;
        background: #ebebeb;
        font-weight: 100;
    }
    .kown_body{
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #eee;
        padding: 15px;
        font-size: 12px;
        overflow: hidden;
        .body_list{
            width: 33%;
            float: left;
            padding-left: 40px;
            box-sizing: border-box;
            li{
                line-height: 30px;
                list-style: disc;
                color: #888;
                a{
                    &:hover{
                        color: #ff6a00;
                        text-decoration: underline;
                    }
                }
            }
        }
        .body_list2{
            border-left: 1px solid #eee;
        }
    }
}
















